/* .hostContainer {
  display:flex;
} */

.connected-player {
  background-color: rgba(247, 221, 232, 0.4);
  max-width: 200px;
  border: 5px solid rgb(122, 90, 106);
  border-radius: 100px;
  padding: 40px;
  text-align: center;
  color: rgb(50, 50, 94);
  line-height: 50px;
  display: inline-block;
  margin-top: -250px;

}
  
.connected-players {
  font-size: 30px;
  font-weight: bold;
  color: rgb(116, 58, 58);
}

.empty-player-slot {
  border: 5px dashed gray;
  color: yellow;
}

.questionContainer{
 
  width:200px;
  height: 300px;
  left: 56vw;
  position: relative;
  /* border: 1px solid red; */
}
.questionArray{
  display: inline-block;
}

.questions{
  margin-top:-20vh;
}

.locations-grid{
  margin-top:-20vh;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}
.locations-grid  > img{
  max-width:200px;
}


