

.connected-player {
    background-color: rgba(214, 224, 245, 0.5);
    max-width: 200px;
    margin: 50px;
    border: 5px solid rgb(190, 203, 230);
    border-radius: 100px;
    padding: 40px;
    text-align: center;
    color: rgb(50, 50, 94);
    line-height: 50px;
  }
  
  .connected-players {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    padding: 50px;
  }
  

  .empty-player-slot {
    border: 5px dashed gray;
    color: yellow;
  }