@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

*{
    margin: 0;
    color: white;
    font-family: 'Barriecito', cursive;
    text-align: center;
}

.container{
    background-image: url(/public/backgrounds/bac3.jpeg);
    text-align: center;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    height: auto;
    left: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  border: 1px solid black

}

ul{
    list-style-type: none;
}

ul li {
    margin-left: 30px;

}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
}

li {
    display: inline-block;


}
.nav-links{
    text-decoration: none;
    color: white;
    margin-left: auto;
    
}


h1{
    color:white;
    font-size: 100px;
}

button{
    color: black
}

.body-content{
   margin: 60px;
}

.myProfile {
    background-image: url(/public/backgrounds/emptyMessage.png);
    width: 40%;
    height: 500px;
    display: inline-block;
    background-size:contain;
    background-repeat: no-repeat;



}

.myProfileDetail h2{
    padding-top: 120px;
    color: black !important;


}

input {
    color: black
}
