/* @import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Racing+Sans+One&family=Raleway&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.homeLogo{
    font-family: 'Racing Sans One', cursive;
}

.container{
    background-image: url(/public/spyfall-backgrounds/wp2715302-spy-wallpaper.jpg);
    text-align: center;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    height: auto;
    left: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  border: 1px solid black

}

ul{
    list-style-type: none;
}

ul li {
    margin-left: 30px;

}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
}

li {
    display: inline-block;


}

.nav-links-header{
    text-decoration: none;
    color: white;
    margin-left: auto;
    
}
.nav-links{
    text-decoration: none;
    color: rgb(175, 14, 14);
    margin-left: auto;
    
}

h1{
    color:white;
    font-size: 100px;
}

button{
    color: black
}

.body-content{
   margin: 60px;
}

.myProfile {
    
    width: 40%;
    height: 500px;
   
    display: inline-block;
    background-size:contain;
    background-repeat: no-repeat;



}

.myProfileDetail h2{
    
    color: white !important;
     margin: 50px;


}

input {
    color: black
}


.join-game-form{
    margin:20px;
    padding-bottom: 30px;
}