body{
 background-image: url(/public/backgrounds/bac1.webp);
 object-fit: cover;
}

ul{
    list-style-type: none;
}
.login-container{
    display: flex;
    align-items: center;
    width: 80vw;   
}
.nav-links{
    text-decoration: none;
    color: white;
    margin-left: auto;
    
}


h1{
    color:white;
}